<section class="wrapper">
    <div class="block block--styles bg-accent">
      <h2
        class="heading heading--styles__block ff-integralcf text-black text-center fw-700 text-uppercase"
      >
        BROWSE BY dress STYLE
      </h2>
      <div class="d-grid d-grid-place-center block--styles__grid">
        <div class="block--styles__item bg-white d-flex">
          <h3
            class="block--styles__item--heading text-black fw-700 text-capitalize"
          >
            casual
          </h3>
          <img
            src="./assets/images/card--image--2.png"
            alt="Shop.co"
            class="block--styles__image"
            />
        </div>

        <div class="block--styles__item bg-white d-flex">
          <h3
            class="block--styles__item--heading text-black fw-700 text-capitalize"
          >
            Formal
          </h3>
          
          <img
            src="./assets/images/card--image.png"
            alt="Shop.co"
            class="block--styles__image"
          />
        </div>

        <div class="block--styles__item bg-white d-flex">
          <h3
            class="block--styles__item--heading text-black fw-700 text-capitalize"
          >
            Party
          </h3>
          <img
            src="./assets/images/card--image--3.png"
            alt="Shop.co"
            class="block--styles__image"
          />
        </div>

        <div class="block--styles__item bg-white d-flex">
          <h3
            class="block--styles__item--heading text-black fw-700 text-capitalize"
          >
            Gym
          </h3>
          <img
            src="./assets/images/card--image--4.png"
            alt="Shop.co"
            class="block--styles__image"
          />
        </div>
      </div>
    </div>
  </section>