<ul
  role="list"
  class="list--breadcrumbs d-flex flex-align-center"
  style="--gap: 0.375rem"
>
  <li class="list--breadcrumbs__item">
    <a class="list--breadcrumbs__link" href="#">Home</a>
  </li>
  <li class="list--breadcrumbs__item">
    <a class="list--breadcrumbs__link" href="#">Shop</a>
  </li>
  <li class="list--breadcrumbs__item">
    <a class="list--breadcrumbs__link" href="#">Men</a>
  </li>
  <li class="list--breadcrumbs__item">
    <a class="list--breadcrumbs__link" href="#">T-shirts</a>
  </li>
</ul>
