<article class="cart--item d-flex ">
    <div class="cart--item__image">
        <img src="./assets/images/t-shirt-01.png" alt="t-shirt cart item image">
    </div>
    <div class="cart--item__details w-100">
        <div class="d-flex flex-align-center flex-justify-between">
            <h3 class="cart--item__title ff-satoshi fw-700 text-black text-capitalize">Gradient Graphic
                T-shirt</h3>
            <button class="btn bg-transparent text-danger">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
            </button>
        </div>
        <div class="">
            <div class="d-flex flex-align-center" style="--gap: 0.3rem">
                <p class="cart--item__option text-black text-capitalize">Size:</p>
                <p class="cart--item__option-value text-capitalize">Large</p>
            </div>
            <div class="d-flex flex-align-center" style="--gap: 0.3rem">
                <p class="cart--item__option text-black text-capitalize">Color:</p>
                <p class="cart--item__option-value text-capitalize">White</p>
            </div>
        </div>
        <div class="d-flex flex-justify-between flex-align-end mt-1">
            <p class="cart--item__price ff-satoshi fw-700 text-black">$180</p>

            <div class="d-flex flex-align-center bg-accent btn--counter--wrapper"
                 style="--gap: 1.313rem">
                <button class="d-flex flex-align-center btn btn--counter text-capitalize">
                                    <span class="material-symbols-outlined">
                                        remove
                                    </span>
                </button>
                <p class="counter--text text-black fw-500">1</p>
                <button class="d-flex flex-align-center btn btn--counter text-capitalize">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                </button>
            </div>

        </div>
    </div>
</article>
