<footer class="footer bg-accent">
    <div class="wrapper footer__wrapper">
      <section class="footer--newsletter d-grid bg-black">
        <h2
          class="footer--newsletter__heading ff-integralcf fw-700 text-white text-uppercase"
        >
          STAY UPTO DATE ABOUT OUR LATEST OFFERS
        </h2>
        <form action="" class="footer--newsletter__form">
          <div
            class="newsletter__form__input-group input-group d-flex flex-align-center bg-white"
            style="--gap: 0.5rem"
          >
            <span class="material-symbols-outlined"> email </span>
            <input
              type="email"
              class="footer--newsletter__input input"
              placeholder="Enter your email address"
            />
          </div>
          <button class="btn btn--footer--newsletter">
            Subscribe to Newsletter
          </button>
        </form>
      </section>
      <section class="footer__content d-grid">
        <div class="footer__item footer__item--logo">
          <a
            href="#"
            class="logo logo--footer ff-integralcf fw-700 text-black text-uppercase"
          >
            SHOP.CO
          </a>
          <p>
            We have clothes that suits your style and which you’re proud to
            wear. From women to men.
          </p>
          <div class="footer__socails d-flex">
            <a href="" class="btn btn--icon--wrapper bg-white">
              <span class="icon material-symbols-outlined"> home </span>
            </a>
            <a href="" class="btn btn--icon--wrapper bg-white">
              <span class="icon material-symbols-outlined"> home </span>
            </a>
            <a href="" class="btn btn--icon--wrapper bg-white">
              <span class="icon material-symbols-outlined"> home </span>
            </a>
            <a href="" class="btn btn--icon--wrapper bg-white">
              <span class="icon material-symbols-outlined"> home </span>
            </a>
          </div>
        </div>
        <div class="footer__item">
          <h3
            class="footer__item--heading ff-satoshi fw-500 text-black text-uppercase"
          >
            Company
          </h3>
          <ul role="list" class="footer__item--list flow">
            <li><a href="#"> About </a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Career</a></li>
          </ul>
        </div>
        
        <div class="footer__item ">
          <h3
            class="footer__item--heading ff-satoshi fw-500 text-black text-uppercase"
          >
            HELP
          </h3>
          <ul role="list" class="footer__item--list flow">
            <li><a href="#"> About </a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Career</a></li>
          </ul>
        </div>

        <div class="footer__item">
          <h3
            class="footer__item--heading ff-satoshi fw-500 text-black text-uppercase"
          >
            FAQ
          </h3>
          <ul role="list" class="footer__item--list flow">
            <li><a href="#"> About </a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Career</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h3
            class="footer__item--heading ff-satoshi fw-500 text-black text-uppercase"
          >
            RESOURCES
          </h3>
          <ul role="list" class="footer__item--list flow">
            <li><a href="#"> About </a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Career</a></li>
          </ul>
        </div>
      </section>
      <section class="footer__bottom d-flex flex-align-center">
        <p class="">
          &copy; Shop.co © 2000-2023, All Rights Reserved
        </p>
    </div>
  </footer>