<footer class="footer bg-accent">
    <div class="wrapper footer__wrapper">
      <section class="footer--newsletter d-grid bg-black">
        <h2
          class="footer--newsletter__heading ff-integralcf fw-700 text-white text-uppercase"
        >
          STAY UPTO DATE ABOUT OUR LATEST OFFERS
        </h2>
        <form action="" class="footer--newsletter__form">
          <div
            class="newsletter__form__input-group input-group d-flex flex-align-center bg-white"
            style="--gap: 0.5rem"
          >
            <span class="material-symbols-outlined"> email </span>
            <input
              type="email"
              class="footer--newsletter__input input"
              placeholder="Enter your email address"
            />
          </div>
          <button class="btn btn--footer--newsletter">
            Subscribe to Newsletter
          </button>
        </form>
      </section>
      <div class="lorem40">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, exercitationem illo unde maxime sequi voluptas magni repudiandae sapiente earum voluptates. Repellat explicabo animi nemo quisquam incidunt nulla, natus ipsa ducimus omnis sequi id dicta provident quam aut quae harum? Placeat.</div>
    </div>
  </footer>