<header class="">
    <nav id="navbar" class="wrapper navbar d-flex flex-align-center flex-justify-between">
        <div class="d-flex flex-align-center logo--container">
            <label for="toggle" id="btn--mobile--menu"
                class="btn btn--toggeler bg-transparent d-flex flex-align-center flex-justify-center text-black">
                <span class="material-symbols-outlined fw-500">
                    menu
                </span>
            </label>
            <a href="#" class="logo ff-integralcf fw-700 text-black text-uppercase">
                SHOP.CO
            </a>
        </div>
        <ul role="list" id="navlist" class="navlist d-flex flex-align-center">
            <button id="btn--close" class="btn btn--close bg-transparent text-black md-hidden">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>

            <li class="nav--item">
                <a href="#" class="nav--link d-flex flex-align-center text-black" style="--gap:0.1rem">
                    Shop
                    <span class="material-symbols-outlined fw-500">
                        arrow_drop_down
                    </span>
                </a>
            </li>
            <li class="nav--item">
                <a href="#" class="nav--link text-black">
                    On Sale
                </a>
            </li>
            <li class="nav--item">
                <a href="#" class="nav--link text-black">
                    New Arrivals
                </a>
            </li>
            <li class="nav--item">
                <a href="#" class="nav--link text-black">
                    Brands
                </a>
            </li>
        </ul>

        <div id="input-group__search" class="input-group input-group__search flex-align-center bg-accent">

            <button class="btn d-flex bg-transparent text-accent">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
            <input type="text" class="input" placeholder="Search for products">

        </div>

        <div class="nav--actions d-flex flex-align-center">
            <a id="search-toggle" href="#" class="nav--link text-black md-hidden">
                <span class="material-symbols-outlined">
                    search
                </span>
            </a>
            <a href="#" class="nav--link text-black">
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>
            </a>
            <a href="#" class="nav--link text-black">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </a>

        </div>
    </nav>

    <section class="hero bg-accent">
        <div class="wrapper d-grid grid-two-colmns">
            <div class="hero__content">
                <h1 class="hero__title ff-integralcf fw-700 text-black text-uppercase">
                    FIND CLOTHES THAT MATCHES YOUR STYLE
                </h1>
                <p class="hero__description">
                    Browse through our diverse range of meticulously crafted garments, designed to bring out your
                    individuality and cater to your sense of style.
                </p>
                <a href="#" class="btn btn--primary bg-black text-white">
                    Shop Now
                </a>
                <div class="hero__counters d-flex flex-align-center">
                    <div class="counter--item">
                        <p class="text-black fw-700">200+</p>
                        <p>International Brands</p>
                    </div>
                    <div class="counter--item">
                        <p class="text-black fw-700">2,000+</p>
                        <p>High-Quality Products</p>
                    </div>
                    <div class="counter--item">
                        <p class="text-black fw-700">30,000+</p>
                        <p>Happy Customers</p>
                    </div>
                </div>
            </div>
            <div class="hero__image">
                <img src="./assets/images/main--hero.png" alt="Hero Image" class="img">
            </div>
        </div>
    </section>
</header>