<section class="hero bg-accent">
    <div class="wrapper d-grid grid-two-column">
        <div class="hero__content">
            <h1 class="hero__title ff-integralcf fw-700 text-black text-uppercase">
                FIND CLOTHES THAT MATCHES YOUR STYLE
            </h1>
            <p class="hero__description">
                Browse through our diverse range of meticulously crafted garments, designed to bring out your
                individuality and cater to your sense of style.
            </p>
            <a href="#" class="btn btn--primary bg-black text-white">
                Shop Now
            </a>
            <div class="hero__counters d-flex flex-align-center">
                <div class="counter--item">
                    <p class="text-black fw-700">200+</p>
                    <p>International Brands</p>
                </div>
                <div class="counter--item">
                    <p class="text-black fw-700">2,000+</p>
                    <p>High-Quality Products</p>
                </div>
                <div class="counter--item">
                    <p class="text-black fw-700">30,000+</p>
                    <p>Happy Customers</p>
                </div>
            </div>
        </div>
        <div class="hero__image">
            <img src="./assets/images/main--hero.png" alt="Hero Image" class="img">
        </div>
    </div>
</section>
