<article class="testimonial__item">
  <div class="d-flex testimonial__item--stars" style="--gap: 0.2rem">
    <span class="material-symbols-outlined-filled"> star </span>
    <span class="material-symbols-outlined-filled"> star </span>
    <span class="material-symbols-outlined-filled"> star </span>
    <span class="material-symbols-outlined-filled"> star </span>
  </div>
  <div class="d-flex flex-align-center">
    <p class="fw-700 text-black">Sarah M.</p>
    <img src="./assets/icons/success.svg" alt="" />
  </div>
  <p class="testimonial__item--text">
    I love the quality of the products and the customer service is amazing!
  </p>
</article>
