<div class="block block--testimonial">
  <header
    class="block--testimonial__header d-flex flex-align-center flex-justify-between"
  >
    <h2
      class="heading heading--testimonial ff-integralcf text-black fw-700 text-uppercase"
    >
      OUR HAPPY CUSTOMERS
    </h2>
    <div class="block--testimonial__actions d-flex">
      <button
        id="prev-btn"
        class="btn btn--testimonial btn--testimonial__left"
      >
        <img src="./assets/icons/arrow-left.svg" alt="" />
      </button>

      <button
        id="next-btn"
        class="btn btn--testimonial btn--testimonial__right"
      >
        <img src="./assets/icons/arrow-right.svg" alt="" />
      </button>
    </div>
  </header>

  <div class="testimonial-list-wrapper">
    <div class="blur-overlay blur-right"></div>
    <div id="testimonial--list" class="testimonial__content">
      <article class="testimonial__item">
        <div
          class="d-flex testimonial__item--stars"
          style="--gap: 0.2rem"
        >
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
        </div>
        <div class="d-flex flex-align-center">
          <p class="fw-700 text-black">Sarah M.</p>
          <img src="./assets/icons/success.svg" alt="" />
        </div>
        <p class="testimonial__item--text">
          I love the quality of the products and the customer service is
          amazing!
        </p>
      </article>
      <article class="testimonial__item">
        <div
          class="d-flex testimonial__item--stars"
          style="--gap: 0.2rem"
        >
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
        </div>
        <div class="d-flex flex-align-center">
          <p class="fw-700 text-black">Sarah M.</p>
          <img src="./assets/icons/success.svg" alt="" />
        </div>
        <p class="testimonial__item--text">
          I love the quality of the products and the customer service is
          amazing!
        </p>
      </article>
      <article class="testimonial__item">
        <div
          class="d-flex testimonial__item--stars"
          style="--gap: 0.2rem"
        >
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
        </div>
        <div class="d-flex flex-align-center">
          <p class="fw-700 text-black">Sarah M.</p>
          <img src="./assets/icons/success.svg" alt="" />
        </div>
        <p class="testimonial__item--text">
          I love the quality of the products and the customer service is
          amazing!
        </p>
      </article>
      <article class="testimonial__item">
        <div
          class="d-flex testimonial__item--stars"
          style="--gap: 0.2rem"
        >
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
        </div>
        <div class="d-flex flex-align-center">
          <p class="fw-700 text-black">Sarah M.</p>
          <img src="./assets/icons/success.svg" alt="" />
        </div>
        <p class="testimonial__item--text">
          I love the quality of the products and the customer service is
          amazing!
        </p>
      </article>
      <article class="testimonial__item">
        <div
          class="d-flex testimonial__item--stars"
          style="--gap: 0.2rem"
        >
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
          <span class="material-symbols-outlined-filled"> star </span>
        </div>
        <div class="d-flex flex-align-center">
          <p class="fw-700 text-black">Sarah M.</p>
          <img src="./assets/icons/success.svg" alt="" />
        </div>
        <p class="testimonial__item--text">
          I love the quality of the products and the customer service is
          amazing!
        </p>
      </article>
    </div>
  </div>
</div>